*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;

}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top #cfd9df , #e2ebf0);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0 0 30px #afafaf;
}

h2{
    color: black;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 100px;
    position: relative;
}

h2 img{
    width: 40px;
    position: absolute;
    right: 0;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove black;
    outline-offset: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px grey;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
}

input::placeholder{
    color: black;
}

button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px;
}

ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(noun-uncheck-2082398.png);
    background-size: cover;
    position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
     background: rgb(61, 61, 231);
     color: rgb(229, 136, 136);
     border-radius: 40px;
}

ul li.checked::before{
    background: url(noun-checked-214747.png);
    background-size: cover;
}

ul li span{
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: black;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: black;
    color: rgba(211, 10, 10, 0.921);
}

ul li.checked span{
    color: red;
}

ul li.checked span:hover{
    background: rgb(36, 29, 29);
    color: black;
}